bin/Debug/netcoreapp3.0/makao
bin/Debug/netcoreapp3.0/makao-cs
bin/Debug/netcoreapp3.0/makao-cs.deps.json
bin/Debug/netcoreapp3.0/makao-cs.dll
bin/Debug/netcoreapp3.0/makao-cs.pdb
bin/Debug/netcoreapp3.0/makao.deps.json
bin/Debug/netcoreapp3.0/makao.dll
bin/Debug/netcoreapp3.0/makao.pdb
bin/Debug/netcoreapp3.0/makao.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/makao.runtimeconfig.json
obj/makao-cs.csproj.nuget.cache
obj/makao-cs.csproj.nuget.dgspec.json
obj/makao-cs.csproj.nuget.g.props
obj/makao.csproj.nuget.cache
obj/makao.csproj.nuget.dgspec.json
obj/makao.csproj.nuget.g.props
obj/makao.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp3.0/makao
obj/Debug/netcoreapp3.0/makao-cs
obj/Debug/netcoreapp3.0/makao-cs.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/makao-cs.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/makao-cs.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/makao-cs.dll
obj/Debug/netcoreapp3.0/makao-cs.pdb
obj/Debug/netcoreapp3.0/makao.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/makao.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/makao.assets.cache
obj/Debug/netcoreapp3.0/makao.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/makao.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/makao.dll
obj/Debug/netcoreapp3.0/makao.pdb
obj/Debug/netcoreapp3.0/VSCODE
obj/Debug/netcoreapp3.0/VSCODE.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/VSCODE.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/VSCODE.assets.cache
obj/Debug/netcoreapp3.0/VSCODE.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/VSCODE.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/VSCODE.dll
obj/Debug/netcoreapp3.0/VSCODE.pdb
